<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link href="style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map"></div>
        <img id="overlay" src="gradient2.png" />
        <img id="static" />

        <div id="title">Kubernetes 101 Workshop</div>
        <div id="subtitle">Master the Kubernetes basics in 3 hours</div>

        <img id="speaker-1" class="circular_image" src="photos/giri.jpeg" />
        <div id="name-1">Giri</div>
        <div id="role-1">Kubernetes Maintainer @Gojek</div>

        <img id="speaker-2" class="circular_image" src="photos/imre.jpeg" />
        <div id="name-2">Imre</div>
        <div id="role-2">Google Developer Expert</div>

        <img id="speaker-3" class="circular_image" src="photos/faris.jpeg" />
        <div id="name-3">Faris</div>
        <div id="role-3">Software Engineer @GoPay</div>

        <div id="time-location">2 Jan 2020 | 19:09 WIB | @BLOCK71 Kuningan</div>
        <div id="meetup-register">Register at <b id="meetup-link"> &nbsp;&nbsp;loket.com/foobar (Biaya RP 1.000.000)</b> </div>
    </body>
</html>
